.textarea {
  appearance: none;
  padding: 0;
  border: none;
  display: block;
  resize: none;
  outline: none;
  height: auto;
  background: transparent;
  font-size: 1em;
  width: 100%;
  font-family: monospace;
  position: absolute;
  top: 0;
  left: 0;
}

.copy {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  color: red; /* TODO transparent */
  width: 100%;
  font-family: monospace;
  position: absolute;
  top: 0;
  left: 0;
}

.marker {
  background: yellow;
}

.active {
  background: red;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.suggestions {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  list-style: none;
  font-family: monospace;
  font-size: 1em;
  padding: 0;
}