.textarea {
  width: 100%;
  font-family: monospace;
  position: relative;
  z-index: 2;
}

.copy {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  color: transparent;
  width: 100%;
  font-family: monospace;
  position: absolute;
  top: .5rem; /* match padding */
}

.marker {
  background: yellow;
}

.active {
  background: red;
}

.container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  height: fit-content;
  padding: .5rem;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.suggestions {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  font-family: monospace;
  margin-top: 1.2em;
  margin-left: 0.65em;
  z-index: 3;
}