.container {
  padding: 1rem;
}

.label {
  display: block;
  margin-bottom: .5rem;
  cursor: text;
}

.label:hover {
  transform: translate3d(-1px, -1px, 0);
  color: blue;
}

.label:active {
  transform: none;
}

.input {
  display: block;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
  max-width: 400px;
}

.input:focus {
  border-bottom: 1px solid black;
}

.login {
  border: 1px solid currentColor;
  border-radius: 3px;
  box-shadow: 3px 3px 0 0 currentColor;
  padding: .4em .5em;
  font-style: italic;
}

.login:hover {
  color: blue;
  transform: translate3d(-1px, -1px, 0);
  box-shadow: 4px 4px 0 0 currentColor;
}

.login:active {
  transform: none;
  box-shadow: 3px 3px 0 0 currentColor;
}