.button {
  border: 1px solid currentColor;
  border-radius: 3px;
  box-shadow: 3px 3px 0 0 currentColor;
  padding: .4em .5em;
  font-weight: 600;
}

.button:hover {
  color: blue;
  transform: translate3d(-1px, -1px, 0);
  box-shadow: 4px 4px 0 0 currentColor;
}

.button:active {
  transform: none;
  box-shadow: 3px 3px 0 0 currentColor;
}