.status-box {
  background: currentColor;
  padding: 1rem;
  border-radius: 3px;
  margin-bottom: .5rem;
}

.status-box > * {
  color: white;
}

.status-box > h1 {
  font-size: 1.3em;
  margin: 0;
  margin-bottom: .5rem;
}

.status-icon {
  margin-right: .5em;
}

.instructions {
  padding: 1rem;
}