.item {
  position: relative;
  border-radius: 3px;
}

.item:hover {
  box-shadow: 0 0 0 2px red;
}

.text {
  padding: .3em .6em;
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.text-wrapper {
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: text;
  box-sizing: border-box;
  height: 100%;
  position: relative;
}

.text-wrapper:hover {
  box-shadow: 0 0 0 2px blue;
}

.delete {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  padding: .3em;
}

.delete:hover {
  transform: translate3d(-1px, -1px, 0);
  color: red;
}

.delete:active {
  transform: none;
}

.item:hover > .delete {
  display: block;
}

.list {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
}

.container {
  padding: 1rem;
}

.search-label {
  cursor: text;
  display: inline-block;
  margin-right: 1rem;
}

.search-label:hover {
  transform: translate3d(-1px, -1px, 0);
  color: blue;
}

.search-label:active {
  transform: none;
}

.search-wrapper {
  display: flex;
  align-items: center;
}

.search {
  display: inline-block;
  flex: 1 0 auto;
  width: auto;
  max-width: 400px;
  border-bottom: 1px solid #ccc;
}

.search:focus {
  border-bottom: 1px solid black;
}
